<header>
<nav role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <% menu.forEach(function(item){ %>
            <li><a href="/pages/<%= item.url %>"><%= item.title %></a></li>
        <% }) %>
    </ul>
</nav>
</header>
