<div class="slidey" id="tray">
    <div class="wrap">
        <form id="search" action="" method="post">
            <label for="term">Search</label>
            <input type="search" id="term" name="term" placeholder="Search&hellip;" value="TODO search_term" />
            <input type="hidden" id="whatSearch" name="whatSearch" value="all" />
        </form>
        <aside>
            <b>Categories</b>
            <ul>
                <li><a href="" title="Category description...">category title <span>66</span></a></li>
            </ul>
        </aside>
    </div>
</div>