body, html {
  all: initial;
  height: 100%;
}

html {
  background-color: #DDD;
}

body {
  background-color: #FFF;
  margin: 0 auto 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px #999;
}

main {
  background-color: #FFF;
  flex: 1 0 auto;
  padding: 50px 50px 100px 80px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
    border-right: 1px solid #e7e7e7;
}

#menu li:last-child {
    border-right: none;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color: #111;
}

#menu .active {
    background-color: #750600;
}

#menu .fa, #toolbar .fa {
    margin-right: 0.7em;
}

#toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

#toolbar ul li {
    float: left;
    border-right: 1px solid #e7e7e7;
}

#toolbar ul li:last-child {
    border-right: none;
}

#toolbar ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 6px 9px;
}

#toolbar ul li a:hover {
    background-color: #111;
}

#toolbar ul li .color1 {
    background-color: #4CAF50;
}

#toolbar ul li .color2 {
    background-color: #008CBA;
}

#toolbar ul li .color3 {
    background-color: #f44336;
}

.overview-table {
    border-collapse: collapse;
    width: 100%;
}

.overview-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.overview-table tr:nth-child(even) {
    background-color: #fafafa;
}

.overview-table tr:hover {
    background-color: #ddd;
}

.editor input, .editor input:focus {
    border: none;
    outline: none;
    font-size: 3em;
    border-left: 15px solid #999;
    margin-left: -15px;
    padding-left: 13px;
    margin-bottom: 30px;
    width: 100%;
}


.editor-hidden {
    padding: 20px 50px 20px 20px;
    margin: 15px 10px 50px 10px;
    /*display: none;*/
    /*background-color: #008CBA;*/
    border-radius: 20px;
    border: 8px solid #008CBA;
    position: relative;
}

.editor-hidden .field {
    padding: 4px;
    margin: 1px;
    display: flex;
}

.editor-hidden .field label {
    display: inline-block;
    width: 120px;
    margin-left: 5px;
}

.editor-hidden .field input[type=text],
.editor-hidden .field textarea {
    display: inline-block;
    flex: 1;
    border: none;
    border-bottom: 1px dashed #008CBA;
    outline: none;
    resize: none;
}

.editor-hidden input[type=radio],
.editor-hidden input[type=checkbox],
.editor-hidden input[type=date] {
    display: inline-block;
    border: none;
    outline: none;
    resize: none;
}

.editor-hidden input[type=radio].nice-button,
.editor-hidden input[type=checkbox].nice-button {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
.editor-hidden input[type=radio].nice-button ~ label:before,
.editor-hidden input[type=checkbox].nice-button ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
    width: 1.4em;
}

.editor-hidden input[type=radio].nice-button:checked ~ label:before,
.editor-hidden input[type=checkbox].nice-button:checked ~ label:before  {
    content: "\f00c";
    font-size: 1.2em;
    color: darkgreen;
    letter-spacing: 5px;
}

.editor-hidden input[type=checkbox].nice-button ~ label:before {        
    content: "\f096";
}

.editor-hidden input[type=checkbox].nice-button:checked ~ label:before {
    content: "\f046";        
    color: darkgreen;
}

.editor-hidden input[type=radio].nice-button:focus ~ label:before,
.editor-hidden input[type=checkbox].nice-button:focus ~ label:before,
.editor-hidden input[type=radio].nice-button:focus ~ label,
.editor-hidden input[type=checkbox].nice-button:focus ~ label
{                
    color: green;
}

.editor-hidden .close {
    position: absolute;
    top: 7px;
    right: 9px;
    cursor: pointer;
    color: #008CBA;
}


.box-view {
    width: 450px;
}

.box-view ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
}

.box-view ul li {
    width: 150px;
    height: 100px;
    float: left;
    border-radius: 20px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
}

.box-view ul li:hover {
  background-color: gray;
}

.box-view ul a {
  color: red;
}
