body, html {
  all: initial;
  height: 100%;
}

html {
  background-color: #DDD;
}

body {
  background-color: #FFF;
  margin: 0 auto 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px #999;
}

main {
  background-color: #FFF;
  flex: 1 0 auto;
  padding: 50px 50px 100px 80px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
    border-right: 1px solid #bbb;
}

#menu li:last-child {
    border-right: none;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color: #111;
}

#menu .active {
    background-color: #750600;
}

#menu .fa, #toolbar .fa {
    margin-right: 0.7em;
}

#toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #505050;
    border-top: 1px solid #bbb;
}

#toolbar ul li {
    float: left;
    border-right:1px solid #bbb;
}

#toolbar ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 2px 7px;
    margin: 5px 6px;
    border-radius: 0.8em;
}

#toolbar ul li a:hover {
    background-color: #fff;
}

#toolbar ul li .color1 {
    background-color: #d7ffed;
}

#toolbar ul li .color2 {
    background-color: #d7e9ff;
}

#toolbar ul li .color3 {
    background-color: #ffd9d7;
}

.overview-table {
    border-collapse: collapse;
    width: 100%;
}

.overview-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.overview-table tr:nth-child(even) {
    background-color: #fafafa;
}

.overview-table tr:hover {
    background-color: #ddd;
}


