<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body ng-app="myApp">
  <% include ../partials/header %>
  <main ng-controller="commentsCtrl">
  <h1>Comments</h1>

  <p>Comments are not implemented.</p>
    
  </main>
</body>
</html>
