<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="container">
  <% include ../partials/header %>
  <main ng-app="myApp" ng-controller="editorCtrl">
  <h1>Editor</h1>


    <div class="btn-group">
      <button type="button" class="btn btn-success" ng-click="docSave()">Save document</button>
      <button type="button" class="btn btn-warning" ng-click="docExit()">Exit without saving</button>
    </div>

  
    <div class="form-group">
      <input class="form-control" id="editorTitle" placeholder="Page title" ng-model="editor.title" ng-change="editor.url = editor.title.split(' ').join('-').toLowerCase();">
      <input class="form-control" id="editorUrl" placeholder="Page URL" ng-model="editor.url">    
      <textarea class="form-control" id="editorText"></textarea>
    </div>




  </main>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="/js/simplemde.min.css">
	<script src="/js/simplemde.min.js"></script>
</body>
</html>
