<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body ng-app="myApp">
  <% include ../partials/header %>
  <div ng-controller="editorCtrl">
  <div id="toolbar">
    <ul>
      <li><a href ng-click="docSave()" class="color1"><i class="fa fa-save"></i>Save document</a></li>
      <li><a href class="color2"><i class="fa fa-wpforms"></i>Show all fields</a></li>
      <li><a href ng-click="docExit()" class="color3"><i class="fa fa-chevron-right"></i>Exit without saving</a></li>
    </ul>
  </div>
  <main>
  
    <div class="editor-hidden">
      <input id="editorUrl" placeholder="Page URL" ng-model="editor.url">    
    </div>

    <div class="editor">
      <input id="editorTitle" placeholder="Page title" ng-model="editor.title" ng-change="editor.url = editor.title.split(' ').join('-').toLowerCase();">
      <textarea id="editorText" placeholder="Start your text here."></textarea>
    </div>

  </main>
  </div>
	<link rel="stylesheet" href="/css/simplemde.min.css">
	<link rel="stylesheet" href="/css/editor.css">
	<script src="/js/simplemde.min.js"></script>
</body>
</html>
