<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ixCMS login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/admin.js"></script>
</head>
<body ng-app="myApp">
  <main ng-controller="loginCtrl">
    <div class="login-page">
      <div class="form">
        <form name="loginForm" class="login-form" ng-submit="submit()">
          <input type="text" placeholder="e-mail" ng-model="login.username" required />
          <input type="password" placeholder="password" ng-model="login.password" required />
          <button type="submit" ng-disabled="loginForm.$invalid">login</button>
          <p class="message" ng-show="loginFailed">Login failed</p>
        </form>
      </div>
    </div>
  </main>
</body>
</html>
