<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body ng-app="myApp">
  <% include ../partials/header %>
  <main ng-controller="overviewCtrl">

    <h2>Site overview</h2>
    <table class="overview-table">
      <tr>
        <td>Site name</td>
        <td>{{overview.settings.siteName}}</td>
      </tr>
      <tr>
        <td>Number of posts</td>
        <td>{{overview.postCount}}</td>
      </tr>
      <tr>
        <td>Number of pages</td>
        <td>{{overview.pageCount}}</td>
      </tr>
      <tr>
        <td>Unverified comments</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Last post</td>
        <td>{{overview.lastPost}} days ago</td>
      </tr>
    </table>

    <h2>Visits</h2>
    <table class="overview-table">
      <tr>
        <td>Last login</td>
        <td>{{overview.settings.lastLogin.time}} [{{overview.settings.lastLogin.ip}}]</td>
      </tr>
      <tr>
        <td>Unique visitors yesterday</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Pages shown yesterday</td>
        <td>-</td>
      </tr>
      <tr>
    </table>
   
  </main>
</body>
</html>
