<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body ng-app="myApp">
  <% include ../partials/header %>
  <main ng-controller="overviewCtrl">

    <h2>Site overview</h2>
    <table class="overview-table">
      <tr>
        <td>Site name</td>
        <td>{{overview.siteName}}</td>
      </tr>
      <tr>
        <td>Number of posts</td>
        <td>{{overview.postCount}}</td>
      </tr>
      <tr>
        <td>Number of pages</td>
        <td>{{overview.pageCount}}</td>
      </tr>
      <tr>
        <td>Unverified comments</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Last post</td>
        <td>{{overview.lastPost}} days ago</td>
      </tr>
    </table>

    <h2>Visits</h2>
    <table class="overview-table">
      <tr>
        <td>Last login</td>
        <td>HH:MM DD.MM.YYYY [IP]</td>
      </tr>
      <tr>
        <td>Unique visitors today</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Pages shown today</td>
        <td>-</td>
      </tr>
      <tr>
    </table>
   
  </main>
</body>
</html>
