<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="container">
    <% include ../partials/header %>
    <main>

Overview and starting page (show number of unverified posts etc)
    
    </main>
</body>
</html>
