<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body ng-app="myApp">
  <% include ../partials/header %>
  <main ng-controller="overviewCtrl">

  Overview and starting page (show number of unverified posts etc)

  <p>Site name: {{overview.siteName}}</p>
  <p>Number of pages: {{overview.pageCount}}</p>
  <p>Number of posts: {{overview.postCount}}</p>
   
  </main>
</body>
</html>
