<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="container">
  <% include ../partials/header %>
  <main ng-app="myApp" ng-controller="overviewCtrl">
  <h1>Overview</h1>

  Overview and starting page (show number of unverified posts etc)

  <p>Site name: {{overview.siteName}}</p>
  <p>Number of pages: {{overview.pageCount}}</p>
  <p>Number of posts: {{overview.postCount}}</p>
   
  </main>
</body>
</html>
