<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="container">
  <% include ../partials/header %>
  <main ng-app="myApp" ng-controller="overviewCtrl">
  <h1>Overview</h1>

  Overview and starting page (show number of unverified posts etc)
   
  </main>
</body>
</html>
