<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body ng-app="myApp">
  <% include ../partials/header %>
  <div id="toolbar">
    <ul>
      <li><a href="/admin/editor/pages" class="color1"><i class="fa fa-plus-circle"></i>New page</a></li>
    </ul>
  </div>
  <main ng-controller="pagesCtrl">
  <h1>Pages</h1>

  <div>
    <ul>
      <li ng-repeat="page in pages"><a ng-href="/admin/editor/pages/{{page._id}}">{{page.title}}</a>&nbsp;[<a href="#" ng-click="deletePage(page._id)">delete</a>]</li>
    </ul>
  </div>

  </main>
</body>
</html>
