<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="container">
    <% include ../partials/header %>
    <main>
        <% if (posts.length) { %>
            <ul>
                <% posts.forEach(function(post){ %>
                    <li><%= post.title %></li>
                <% }) %>
            </ul>
        <% } %>
    </main>

    <% include ../partials/footer %>    
</body>
</html>
