<!doctype html>
<html lang="en">
<% include ../partials/head %>
<body class="posts home page">
<% include ../partials/slidey %>
<div class="main-wrap">
    <header id="top" style="background-image: url('/images/galaxy.jpg');">
        <% include ../partials/navigation %>
    </header> 
    <section class="content wrap">
        <h1><%= article.title %></h1>
        <%- article.text %>
    </section>
    <% include ../partials/footer %>
</div>
<% include ../partials/analytics %>
</body>
</html>
