<nav ng-controller="headerCtrl">
  <ul id="menu">
    <li><a href="/admin/menu/overview" ng-class="activeMenu === 'overview' ? 'active' : ''">Overview</a></li>
    <li><a href="/admin/menu/comments" ng-class="activeMenu === 'comments' ? 'active' : ''">Comments</a></li>
    <li><a href="/admin/menu/posts" ng-class="activeMenu === 'posts' ? 'active' : ''">Posts</a></li>
    <li><a href="/admin/menu/pages" ng-class="activeMenu === 'pages' ? 'active' : ''">Pages</a></li>
    <li><a href="/admin/menu/settings" ng-class="activeMenu === 'settings' ? 'active' : ''">Settings</a></li>
    <li style="float:right"><a href="/logout">Logout</a></li>
  </ul>
</nav>