<header>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/admin/overview">Overview</a></li>
    <li><a href="/admin/comments">Comments</a></li>
    <li><a href="/admin/posts">Posts</a></li>
    <li><a href="/admin/pages">Pages</a></li>
    <li><a href="/admin/settings">Settings</a></li>
  </ul>
</div>
</header>