<head>
    <meta charset="UTF-8">
    <title>ixCMS admin</title>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/admin.js"></script>
</head>
